body {
    padding: 0;
    margin: 0;
}

button {
    background: none;
    border: none;
    outline: none;
    &:hover{
        cursor: pointer;
    }
}

.app {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    .board-row{
        display: flex;
        flex-direction: row;
        border-bottom: 2px solid #000;
        &:last-child {
            border-bottom: none;
        }
        .square {
            width: 80px;
            height: 80px;
            border-right: 2px solid #000;
            font-size: 2.5rem;
            padding: 0;
            overflow: hidden;
            transition: all 0.2s;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            &:last-child{
                border-right: none;
            }
        }
    }
}